body {
    padding: 0;
    margin: 0;
    background: #cfbbe9;
}

.navbar {
    background:#7663e0;
}

.nav-link,
.navbar-brand {
    color: rgb(192, 192, 192);
    cursor: pointer;
}

.nav-link {
    margin-right: 1em !important;
}

.nav-link:hover {
    color: #000;
}

.navbar-collapse {
    justify-content: flex-end;
}

.description {
    left: 50%;
    position: absolute;
    top: 45%;
    transform: translate(-50%, -55%);
    text-align: center;
}

.description h1 {
    color: #791ac7;
}

.description p {
    color: rgb(47, 10, 95);
    font-size: 1.3rem;
    line-height: 1.5;
}

.visualizations img {
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 5px;
    width: 220px;
}

table, th, td, tr {
    border: 1px solid rgb(157, 71, 228);
  }